body {
	background: black;
	font-family: monospace;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#viewport {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

#viewframe {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	cursor: zoom-in;
	overflow: auto;
}
#viewer {
	position: absolute;
	left: 0;
	top: 0;
	width: 1920px;
	height: auto;
/*	right: 0;
	bottom: 0;
*/	cursor: zoom-in;
}
#viewer div.viewer img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#viewer div.viewer {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#viewer.zoomedin {
	cursor: zoom-out;
}
#control {
	position: absolute;
	left:0;
	bottom:0;
	z-index:10000;
}
button#zoom {
	border: none;
	margin: 4px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}
button#zoom.active {
	background: black;
	color: red;
}
