body {
}
#content {
/*	position: absolute;
	overflow: hidden;
	left: 0; top: 0; right: 0; bottom: 0;
*/
}
#canvas {
	position: absolute;
	left: 50px; top: 50px;
	width: 840px;
	height: 2982px;
	background: #CCC;
}
#region {
	position: absolute;
	left: 0; top: 0; width: 300px; height: 300px;
	border: 2px solid red;
	z-index: 10000;
}
div.item {
	position: absolute;
	left: 0;
	top: 0;
	background: #FAA;
}
.active {
	background: pink;
}
