body {
	background: #888;
	color: white;
	overflow: hidden;

}
#content {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
}
div.row {
	border-top: 1px solid #222;
	position: relative;
}
div.row .scroll {
	overflow-x: hidden;
	overflow-y: hidden;
}
div.row .scroll .content {
	padding-left: 2000px;
	height: 62px;
	width: 100000px;
}
div.content {
	position: relative;
}
div.row div.label {
	position: absolute;
	z-index: 1000;
	left: 0;
	top: 0;
	background: #222;
	color: white;
	padding: 5px;
	font-size: 12px;
}
div.row div.img {
	position: absolute;
	top: 0;
	left: 0;
	width: 32px;
	min-height: 32px;
	margin-right: 2px;
	vertical-align: top;
	border: 1px dotted black;
}
div.row div.img img.active {
	border: 2px solid #F0F;
}
div.contours img {
	border: none;
}
div.channel_green img {}
div.channel_blue img {}

#overlay {
	position: absolute;
	left: 0px; bottom: 0px;
	font-size: smaller;
	width: 100%;
	/*border-top: 1px solid black;*/
	padding-top: 10px;
}
#overlay.busy {
	background: red;
}
#overlay p {
	margin: 0;
	padding: 0.1em;
	background: #AAB;
	color: black;
}
div.mix {
	position: absolute;
	left: 0;
	bottom: 0;
}
div.mix button {
	font-size: 18px;
	text-transform: uppercase;
	border: none;
	margin: 4px;
}
button#mix.active {
	background: black;
	color: red;
}
div.scan {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}
div.scan button {
	width: 100px;
	background: black;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}
#make {
	max-height: 400px;
	left: 0;
	bottom: 0;
	width: 100%;
	position: absolute;

}
#make .contents {
	width: 80%;
	overflow-y: auto;
	max-height: 200px;
	background: black;
	color: white;
	margin-left: auto;
	margin-right: auto;
	font-size: 10px;
	font-family: monospace;
	display: none;
}
#overlay .status {
	text-align: right;
	position: absolute;
	right: 0;
	bottom: 0;

}
#overlay .status .contents {
	width: 320px;
	padding-right: 1em;
}

